<!doctype html>
<html lang="uk">
<head>
    <%- include('partials/head') %>
    <title>Форма зворотнього зв'язку</title>
</head>
<body>


<form id="feedback-form">
    <label for="name">Ім'я:</label>
    <input type="text" id="name" name="name" required>

    <label for="phone">Телефон:</label>
    <input type="tel" id="phone" name="phone" required>

    <label for="message">Повідомлення:</label>
    <textarea name="message" id="message" rows="10" required></textarea>

    <button type="submit">Відправити</button>
</form>


<script src="index.js"></script>
</body>
</html>